package templates

import (
	"github.com/wolfsblu/grecipes/templates/components"
)

templ Layout() {
    <html lang="en">
    <head>
        <title>Recipe Manager</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/public/dist/app.min.css" />
        <script src="/public/dist/htmx.min.js" type="text/javascript"></script>
    </head>
    <body>
    @components.Navbar()
    { children... }
    </body>
    </html>
}